img{
  height: 70px;
  width: 70px;
}

.searchedItem{
  background-color:#FFFF00!important;
}

td {
  width: 200px;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

table { 
  border: none !important;
}