.step-form {
  text-align: center;
  font-weight: 600;
  color:#292b2c;
}

button {
  background-color: #5bc0de;
  color: white;
  margin: 8px 0 18px;
  border: none;
  cursor: pointer;
  width: 100%;
}

[disabled] {
  pointer-events: none;
  cursor: not-allowed;
}