.menu-container {
  background-color: #343a40!important;
  display: flex; 
  top: 0;
  justify-content: space-between;
}

.search-section {
  margin-top: 8px;
  padding-right: 25px;
}

#hideCart {
  float: right;
  color: white;
}

#viewCart {
  float: right;
  color: white;
}

.body-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  
}

.body-container > div {
  text-align: center;
  padding: 20px 0;
}

.product-section {
  grid-column: 1 / 5;
}

@media only screen and (max-width:830px) {
  .product-section {
    grid-column: 1 / 9;
  }
  .cart-section {
    grid-column: 1 / 9;
  }
}