.container {
  background-color: #f2f2f2;
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
}

button {
  background-color: #5bc0de;
  color: white;
  padding: 14px 20px;
  margin: 8px 0 18px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

label {
  pointer-events: none;
}

[disabled] {
  pointer-events: none;
}

