#toggel {
  background-color: rgb(250, 248, 248) !important;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 7px 20px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #5bc0de;
  color: black;
  border-radius: 5px;
}
  
.navbar a.active {
  background-color: #5bc0de;
  color: white;
  border-radius: 5px;
}

.fa-search {
  color: #5bc0de;
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

