<div class="about">
<h2>How does SihonMarket Grocery work?</h2>
<p>Our checkout-free shopping experience is made possible by the same types of technologies used in self-driving cars: computer vision, sensor fusion, and deep learning. Just Walk Out Technology automatically detects when products are taken from or returned to the shelves and keeps track of them in a virtual cart. When you’re done shopping, you can just leave the store. Later, we’ll send you a receipt and charge your SihonMarket account.</p>
</div>